@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

$primary: #3a4d39;
$secondary: #4f6f52;
$text: #0f0f0f;
$textBright: #ece3ce;
$background: #ece3ce;
$background2: #739072;
$background3: #4f6f52;
$alert: rgb(196, 31, 31);

* {
  border: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0;
}
body {
  background-color: $background;
}
