@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  border: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0;
}

.formLogin {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--custom-bg-color);
    color: var(--custom-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.inputField {
  width: 100%;
  border-radius: 5px;
  border: 2px solid black;
  padding: 8px;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.submitButton {
    text-transform: uppercase;
    width: 100%;
    border-radius: 5px;
    border: var(--custom-border);
    padding: 8px;
    font-size: 0.9rem;
    background-color: gray;
    color: var(--custom-color);
    cursor: pointer;
}